.table th {
    text-align: center;
}

.table,#search {
    /*width: 50%;*/
    margin: auto;
    float: none;
}

.navbar .navbar-nav{
    text-align: center;
}

#search{
    position: relative;
}

.search{
    position: relative;
    float: left;
}

#search-button{
    position: relative;
    float: right;
}

.hidden{
    display:none;
}

#select-country-container{
    display: flex;
    justify-content: center;
}